.search{

   img {
     position: relative;
     left: 50px;
     height: 20px;
     top: 5px;
     margin-right: 15px;
  }

  .flight {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px 5px 10px 40px;

  }

}
